@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/RobotoRegular/RobotoRegular.eot');
  src: local('RobotoRegular'), url('../fonts/RobotoRegular/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular/RobotoRegular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/RobotoBold/RobotoBold.eot');
  src: local('RobotoBold'), url('../fonts/RobotoBold/RobotoBold.woff') format('woff'), url('../fonts/RobotoBold/RobotoBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}