h1,.h1 {
  font: 27px/32px 'RobotoBold';
  color: $content-title;
}

h2,.h2 {
  font: 25px/30px 'RobotoBold';
  color: $content-title;
}

h3,.h3 {
  font: 23px/28px 'RobotoBold';
  color: $content-title;
}

h4,.h4 {
  font: 21px/36px 'RobotoBold';
  color: $content-title;
}

h5,.h5 {
  font: 19px/24px 'RobotoBold';
  color: $content-title;
}

h6,.h6 {
  font: 17px/22px 'RobotoBold';
  color: $content-title;
}

p, a {
  font: 16px/21px 'RobotoRegular';
  color: $content-title;
}